<% if(errors.length > 0) { %>
<div class="mensagem-container">
    <p class="error-message">
        <% errors.forEach(erro => { %>
            <%= erro %><br>
        <% }); %>
    </p>
</div>
<% } %>

<% if(success.length > 0) { %>
    <div class="mensagem-container">
        <p class="success-message">
            <% success.forEach(sucesso => { %>
                <%= sucesso %><br>
            <% }); %>
        </p>
    </div>
    <% } %>