<nav class="nav-container">
    <div class="logo-container">
        <a href="/"><h1>PROJECTAGENDA+</h1></a>
    </div>
    <div class="ul-nav-container">
        <ul class="li-container">
            <li><a href="#">Registrar</a></li>
        </ul>
    </div>
</nav>