<nav class="nav-container">
    <div class="logo-container">
        <a href="/"><h1>PROJECTAGENDA+</h1></a>
    </div>
    <div class="ul-nav-container">
        <ul class="li-container">
            <li><a href="/contato/index">CADASTRAR CONTATO</a></li>
            <% if(user) { %>
            <li><a href="/login/logout">SAIR</a></li>
            <% } else { %>
            <li><a href="/login/index">ENTRAR</a></li>
            <% } %>
        </ul>
    </div>
</nav>