<nav class="nav-container">
    <div class="logo-container">
        <a href="/"><h1>PROJECTAGENDA+</h1></a>
    </div>
    <div class="ul-nav-container">
        <ul class="li-container">
            <li><a href="/contato/index">Cadastrar contato</a></li>
            <% if(user) { %>
            <li><a href="/login/logout">Sair</a></li>
            <% } else { %>
            <li><a href="/login/index">Entrar</a></li>
            <% } %>
        </ul>
    </div>
</nav>