<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container-error404">
    <div class="row-404">
        <div class="row-1">
            <h1>Error 404!</h1>
            <p>Página não existente.</p>
        </div>
    </div>
</div>
  
<%- include('includes/footer.ejs') %>
