<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container-agenda">
    <div class="row-agenda">
        <div class="row-2">
            <h1>ProjectAgenda+</h1>
            <p>Contatos serão exibidos logo abaixo</p>

            <div class="mensagem-container">
                <p class="error-message">Esse daqui é um erro bem maior</p>
            </div>
        </div>
    </div>
    <div class="table-contacts">
        <table>
            <tr>
                <td>Luan</td>
                <td>Rabelo</td>
                <td>55629999999</td>
                <td>luan.rabelo@agenda.com</td>
            </tr>
            <tr>
                <td>Luan</td>
                <td>Rabelo</td>
                <td>55629999999</td>
                <td>luan.rabelo@agenda.com</td>
            </tr>
            <tr>
                <td>Luan</td>
                <td>Rabelo</td>
                <td>55629999999</td>
                <td>luan.rabelo@agenda.com</td>
            </tr>
            <tr>
                <td>Luan</td>
                <td>Rabelo</td>
                <td>55629999999</td>
                <td>luan.rabelo@agenda.com</td>
            </tr>
        </table>
    </div>

</div>

<script src="../assets/js/bundle.js"></script>
  
<%- include('includes/footer.ejs') %>
